/* || Defaults */
* {
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

:root {
    --primary: black;
    --text: white;
    --hover: #33A1FD;
}

.page-title {
    text-align: center;
    margin: 35px 0;
    font-size: 2vw;
}

/* || Navigation */
header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    background: var(--primary);
}

.nav-title {
    float: left;
    margin: 10px 25px;
    font-size: 2.5vw;
    transition: 0.3s;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
}

.nav-links {
    float: right;
    margin: 25px 25px 0 0;
    font-size: 1.25vw;
    transition: 0.3s;
}

.nav-title:hover, .nav-links:hover {
    color: var(--hover);
}

/* || Index */
.index-hero {
    background-image: url('../img/index-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.index-hero-title {
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 15%;
    left: 30%;
    color: white;
    text-align: center;
    cursor: default;
}

.index-hero-title h2 {
    font-size: 5vw;
}

.index-hero-title p {
    font-size: 2vw;
}

/* || Our Story */
.our-story-main {
    margin-top: 120px;
}
.our-story-sections {
    margin: 0 100px;
    display: inline;
}

.our-story-sections-img {
    margin: 0 100px;
    float: left;
}

.our-story-sections-caption {
    text-align: left;
    font-size: 1.5vw;
    line-height: 1.75;
    margin: 50px 100px;
}

.our-story-link {
    color: var(--hover);
}

hr {
    display: block;
    margin: 100px auto;
    width: 50%;
}

.our-story-team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px;
}

.our-story-team-card {
    margin: 10px;
    width: 25%;
    text-align: center;
}

.our-story-team-card img {
    margin: 0 auto;
}

.our-story-team-card h4 {
    margin: 5px 0;
}



/* || Footer */
footer {
    background: var(--primary);
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 5px 25px;
}

.left-footer {
    width: 50%;
    text-align: left;
}

.right-footer {
    width: 50%;
    text-align: right;
}

.right-footer a {
    color: var(--hover);
}